:root {
  --cor: #6c6868;
  --background: url(../assets/marrom.jpg) ;
  --fonte: #000000;
  --card: rgba(0, 0, 0, 0);
}



body {
  align-items: center;
  background: var(--background) ;
  }

  .container{
  padding: 0 20px;
  flex-direction: column;
  min-height: 100vh;
  }

  